/* Tene Configurator */

/* colors */

$bg: #ffffff;
$control-bg: #aaaaaa;
$text-color: #000000;
$ctrl-color: #000000;
$link-color: #00d0ff;
$visited-color: #9900ff;

$error: #ff0000;
$warn: #ffff00;
$good: #00ff00;
$info: #00d0ff;
$alt: #0044ff;


/* numbers */

$xs-padding: 1px;
$s-padding: 5px;
$m-padding: 10px;
$l-padding: 20px;
$xl-padding: 50px;

$s-round: 5px;
$m-round: 10px;
$l-round: 20px;
$pill-radius: 1000px;

$border-width: 1px;
$border-color: #000;

$i-border-w: 1px;
$i-border-c: #000;
$i-border-w-a: 1px;
$i-border-c-a: #000;
$i-border-w-h: 1px;
$i-border-c-h: #555;

$i-mark-blur: 2px;
$i-mark-color: #333;


$mark-blur: 10px;

$hover-change: 20%;

$font-size: 18px;
$input-size: 18px;
$first-letter-size: 32px;
$first-letter-lh: 60%;
$p-align: justify;

/* fonts */

$font: 'Source Sans Pro', sans-serif;
$serif-font: 'Droid Serif', serif;
$mono-font: 'Droid Sans Mono', monospace;

/* misc */

$link-td: none;
$btn-td: none;