/* Tene Configurator */

/* colors */

$bg: #ffffff;
$control-bg: #aaaaaa;
$text-color: #000000;
$ctrl-color: #000000;
$link-color: #00d0ff;

$error: #ff0000;
$warn: #ffff00;
$good: #00ff00;
$info: #00d0ff;
$alt: #0044ff;


/* numbers */

$xs-padding: 1px;
$s-padding: 5px;
$m-padding: 10px;
$l-padding: 20px;
$xl-padding: 50px;

$hover-change: 10%;

$font-size: 18px;

/* fonts */

$font: 'Source Sans Pro', sans-serif;
$serif-font: 'Droid Serif', serif;
$mono-font: 'Droid Sans Mono', monospace;

/* misc */

$btn-td: none;