/* Tene Configurator */

/* colors */

$bg-color: #ffffff;
$control-color: #aaaaaa;

$error: #ff0000;
$warn: #ffff00;
$good: #00ff00;
$info: #00d0ff;
$alt: #0044ff;

/* numbers */

$xs-padding: 1px;
$s-padding: 3px;
$m-padding: 5px;
$l-padding: 10px;
$xl-padding: 20px;

$hover-change: 10%;