@import "tene-cfg.scss";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Droid+Sans+Mono|Droid+Serif);


body {
	background-color:$bg;
}

* {
	font-family:$font;
	font-size:$font-size;
	color:$text-color;
}

.mono {
	font-family:$mono-font;
}

.serif {
	font-family:$serif-font;
}

.button {
	background-color:$control-bg;
	padding:$m-padding;
	text-decoration:$btn-td;
	color:$ctrl-color;
}

.button:hover {
	background-color:lighten($control-bg, $hover-change);
}