@mixin hoverable($bg) {
	background-color:$bg;
	&:hover { background-color:lighten($bg, $hover-change); }
	&:visited { color:$ctrl-color; }
}

@mixin mark($color, $blur: $mark-blur) {
	box-shadow:0 0 $blur $color;
}

@mixin border($width, $color) {
	border:$width solid $color;
}

@mixin button($padding, $font-size) {
	padding:$padding;
	font-size:$font-size;
}

@mixin rgroup($radius, $dir) {
	padding:$m-padding;
	margin:-7px;
	margin-top:0px;
	margin-bottom:0px;
	margin-#{$dir}:0px;
	border-radius:0px;
	border-bottom-#{$dir}-radius:$radius;
	border-top-#{$dir}-radius:$radius;
}