@import "tene-cfg.scss";

@import "tene-mixin.scss";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Droid+Sans+Mono|Droid+Serif);


body {
	background-color:$bg;
}

* {
	font-family:$font;
	font-size:$font-size;
	color:$text-color;
}

a {
	color:$link-color;
	text-decoration:$link-td;
	&:hover { color:lighten($link-color, $hover-change); }
	&:visited { color:$visited-color; }
}

.mono {
	font-family:$mono-font;
}

.serif {
	font-family:$serif-font;
}

.button {
	padding:$m-padding;
	text-decoration:$btn-td;
	color:$ctrl-color;
	@include hoverable($control-bg);
}

.rounded-s { border-radius:$s-round; }
.rounded { border-radius:$m-round; }
.rounded-l { border-radius:$l-round; }

.bordered { @include border($border-width, $border-color); }

.xl-padding {
	padding:$xl-padding;
}

.error { @include hoverable($error); }
.warn { @include hoverable($warn); }
.good { @include hoverable($good); }
.info { @include hoverable($info); }
.alt { @include hoverable($alt); }

.mark-error { @include mark($error); }
.mark-warn { @include mark($warn); }
.mark-good { @include mark($good); }
.mark-info { @include mark($info); }
.mark-alt { @include mark($alt); }