@import "tene-cfg.scss";

@import "tene-mixin.scss";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Droid+Sans+Mono|Droid+Serif);

body {
	background-color:$bg;
}

* {
	font-family:$font;
	font-size:$font-size;
	color:$text-color;
}

*:focus { outline:0; }

a {
	color:$link-color;
	text-decoration:$link-td;
	&:hover { color:lighten($link-color, $hover-change); }
	&:visited { color:$visited-color; }
}

.mono { font-family:$mono-font; }
.serif { font-family:$serif-font; }

.button,.s-button,.l-button {
	text-decoration:$btn-td;
	color:$ctrl-color;
	@include hoverable($control-bg);
}

.button { @include button($m-padding, $m-size); }
.l-button { @include button($l-padding, $l-size); }
.s-button { @include button($s-padding, $s-size); }

.rounded-s { border-radius:$s-round; }
.rounded { border-radius:$m-round; }
.rounded-l { border-radius:$l-round; }
.pill { border-radius:$pill-radius; }

.d-input {}
.toggler {}

.ui-group .rounded:first-child { @include rgroup($m-round, left) }
.ui-group .rounded:last-child { @include rgroup($m-round, right) }

input {
	padding:$m-padding;
	font-size:$input-size;
	@include border($i-border-w, $i-border-c);
}

.bold { font-weight:bold; }

.i-unfocused-text {
	color:$i-unfc-color;
	@include border($i-border-w-u, $i-border-c-u);
}

input:hover { @include border($i-border-w-h, $i-border-c-h);}
input:focus {
	@include border($i-border-w-a, $i-border-c-a);
	@include mark($i-mark-color, $i-mark-blur);
}

p { text-align:$p-align; }

.hl-first:first-letter {
	font-size:$first-letter-size;
	line-height:$first-letter-lh;
}

.bordered { @include border($border-width, $border-color); }

.no-padding { padding:0px; }
.m-padding { padding:$m-padding; }
.xl-padding { padding:$xl-padding; }

.error { @include hoverable($error); }
.warn { @include hoverable($warn); }
.good { @include hoverable($good); }
.info { @include hoverable($info); }
.alt { @include hoverable($alt); }

.mark-error { @include mark($error); }
.mark-warn { @include mark($warn); }
.mark-good { @include mark($good); }
.mark-info { @include mark($info); }
.mark-alt { @include mark($alt); }
